<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
		
		<table>
			<td>ID</td>
			<td>Valor</td>
			<td>Data da inserção</td>
		
			<th:block th:each="receita:${receitas}">
				<tr>
					<td th:text="${receita.id}"></td>
					<td th:text="${receita.valorReceita}"></td>
					<td th:text="${#dates.format(receita.dataReceita, 'dd-MM-yyyy')}"></td>
				</tr>
			</th:block>
		</table>


		<form action="/" th:action="@{/receita}" th:object="${receita}" method="post">
			
			<input type="text" name="valorReceita" />

			<input type="submit" value="Add Income" />

		</form>
	
	

</body>
</html>